<ejs-sidebar id="default-sidebar" #sidebar (created)="onCreated($event)" style="visibility: hidden" [width]="width"
  [showBackdrop]="showBackdrop" [closeOnDocumentClick]="closeOnDocumentClick">
  <!-- <div class="title"> Sidebar content</div>
  <div class="sub-title">
    Click the button to close the Sidebar.
  </div> -->
  <div class="center-align">
    <button ejs-button id="close" (click)="closeClick()" class="e-btn close-btn">Close Sidebar</button>
  </div>
  <app-menu></app-menu>
</ejs-sidebar>
<div>
  <app-header></app-header>
  <div class="title">Main content</div>
  <div class="sub-title"> Click the button to open/close the Sidebar.</div>
  <div style="padding:20px" class="center-align">
    <button ejs-button id="toggle" class="e-btn e-info" (click)="toggleClick()">Toggle Sidebar</button>
  </div>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat tenetur illum minima soluta consequatur,
    praesentium distinctio quia aperiam ex? Autem maxime error tempora, laudantium necessitatibus illum possimus
    similique assumenda cupiditate id ducimus aliquam quaerat quasi natus omnis! Quas nostrum corrupti repellat maxime
    est laborum dicta placeat porro dolorum praesentium ab temporibus accusamus quis architecto atque voluptatibus
    maiores nemo ut molestias nobis, dolorem sint omnis doloribus? Est aperiam rerum tempora dignissimos non alias
    harum, aspernatur consectetur inventore, perspiciatis explicabo sunt at. Tenetur corrupti perferendis, quibusdam
    corporis maiores ducimus cupiditate iste deserunt illum nihil exercitationem eius minus? Praesentium minus fugiat
    eum recusandae deserunt officia quidem aspernatur architecto dolorem quam. Nemo eaque consequatur numquam libero
    soluta cumque quam ut voluptate tenetur itaque excepturi similique omnis officiis error pariatur id dolor debitis
    est nihil minima expedita, molestias minus esse culpa? Aliquid facere incidunt eius in maxime inventore nesciunt, ad
    perferendis itaque necessitatibus quas aut voluptatibus nobis, consectetur blanditiis nostrum vel quos aperiam
    praesentium quia dolor molestiae? Perferendis, at, odit nostrum laboriosam ab, culpa rem vitae dignissimos iusto
    quibusdam magni? Neque ipsa odit nihil omnis rerum officiis eligendi quis enim sint praesentium sequi placeat
    consectetur ut dignissimos adipisci, unde et? Saepe rerum quo esse deleniti provident tempora numquam id adipisci
    quia cum voluptas magni vitae ex, sint sed eius corporis vel magnam placeat. Id autem animi quas ipsa omnis, dolore,
    quibusdam laboriosam magnam mollitia enim et aut quidem deserunt accusantium eos ipsam numquam illum reiciendis
    commodi, cum itaque fugit ab aspernatur perferendis. Ipsa harum dolorem voluptatem. Vero adipisci unde, velit
    impedit repudiandae hic quo ipsa minima asperiores nihil ducimus mollitia? Labore suscipit natus eos velit!
    Recusandae ipsa ut architecto deserunt dicta sequi corrupti officia vel quo error maxime, eius, impedit itaque vero
    ea, minus cumque id atque? Blanditiis, impedit deserunt quae, asperiores labore perspiciatis quaerat tempore
    necessitatibus reprehenderit aliquid cum accusamus provident molestias reiciendis voluptates ipsum repudiandae, non
    maxime consequatur voluptatum. Molestias quod quas quis inventore alias repellat suscipit ratione itaque enim
    mollitia vero architecto amet quos reiciendis molestiae nobis, accusantium pariatur rem vitae possimus nam! Laborum
    officiis provident corrupti quidem enim, aut nisi delectus impedit accusantium odit adipisci temporibus! Minus
    temporibus odio distinctio rerum voluptate cupiditate, earum quibusdam officiis similique optio praesentium nostrum
    nemo voluptas sunt aliquid odit? Commodi, debitis dolor! Assumenda sint, optio laborum dolorem nihil quod laudantium
    in architecto sapiente veritatis harum illo doloremque quis dolor modi, similique nisi provident a animi mollitia
    velit! Quasi corporis inventore, reiciendis debitis vel id laborum maxime temporibus, esse deserunt voluptatum enim
    dignissimos animi! Earum, est temporibus! Laborum perspiciatis eius fuga ipsum beatae dolores error officiis tempora
    assumenda repellendus eaque, unde odit, reiciendis numquam expedita debitis veniam voluptatibus voluptatem veritatis
    placeat culpa deserunt quia sit ea. Fuga illo dignissimos sunt delectus quasi facere quaerat molestiae, iure
    dolorem, soluta nam expedita ullam dolore qui nihil, ea vero voluptatum dolor enim? Exercitationem debitis animi
    ipsum ex et vitae adipisci nostrum ut, laborum magnam sint necessitatibus tempora perferendis, eos aperiam obcaecati
    facere in. Fugiat nesciunt dolorem eius doloribus natus eveniet at cum a tempore in officia reiciendis, maiores
    doloremque, consequuntur suscipit autem minus, eligendi cumque aliquid omnis commodi aspernatur molestias? Placeat,
    ad dolores a, nulla aut quis adipisci explicabo in cupiditate sit nostrum nobis expedita modi doloribus nisi impedit
    reprehenderit amet accusamus tenetur esse neque iure. Nostrum eligendi velit perspiciatis itaque corrupti aliquid
    iste enim repellat, voluptatibus sapiente quisquam. At distinctio facere odio praesentium quisquam vitae cum?
    Cupiditate sint illum, qui repellat suscipit eius sunt nostrum, quas molestiae excepturi accusantium dolor non nulla
    nemo corporis iste autem. Dolorum inventore voluptatibus tempora qui eius iste eaque non, omnis officia fugiat. Iure
    dignissimos optio, officiis voluptas ab dolor excepturi, nihil ut, deserunt incidunt beatae cumque aliquid totam
    praesentium eligendi modi architecto veniam? Aperiam reiciendis ex animi temporibus non odio, nemo pariatur, ipsam
    mollitia eveniet quis tempora, dolorum perspiciatis! Error, harum ipsa alias facilis doloremque pariatur, laboriosam
    ea at ducimus recusandae aspernatur eius unde. Eligendi ipsam ipsa nemo voluptatibus ipsum minima tenetur
    dignissimos? Veniam reprehenderit modi alias, quod rem voluptate eveniet molestias ad in est tempore veritatis saepe
    ipsum dignissimos exercitationem officiis numquam vero. Esse itaque illo rerum ipsa quidem pariatur laudantium
    sapiente vitae dolorem quos illum, cumque magnam cum libero harum qui quam incidunt sunt consectetur. Eveniet,
    mollitia odit doloribus distinctio ad reprehenderit aliquid. Minima animi, sequi ullam eligendi, blanditiis et
    numquam illum, incidunt quia rem corporis. Quae explicabo quam molestias ipsam ex nostrum perspiciatis pariatur quos
    obcaecati! Eligendi excepturi, aliquid quam adipisci rerum voluptatum officia nesciunt voluptatibus non porro
    dolorem deserunt accusamus suscipit at consectetur, quo molestiae accusantium omnis, ex assumenda debitis! Ab
    corporis magnam cumque nam. Distinctio id, quaerat, alias, molestiae voluptates temporibus nam recusandae fugit
    debitis fugiat dolores fuga reiciendis eum at commodi incidunt error nihil! Quidem ad repudiandae praesentium
    aliquam voluptatibus rerum quos nam, doloribus eos dignissimos recusandae esse illum ratione odio animi quibusdam
    fuga, voluptatum tempore eaque consequatur veniam cum velit nesciunt eligendi? Qui enim dolorum porro soluta.
    Inventore modi dolore voluptates laborum, corporis nulla quidem possimus aspernatur fugit rem adipisci, at impedit
    odio maxime eos alias quos, exercitationem deserunt sit consequuntur dignissimos fuga dolorum! Perferendis accusamus
    repellat culpa nemo quaerat cum incidunt quam, amet, ut, enim ab. Assumenda quaerat, dignissimos enim excepturi
    minus qui laboriosam earum quod inventore, porro pariatur suscipit! Dolores, aliquid culpa laborum enim
    necessitatibus maiores quisquam, officiis modi quaerat deserunt maxime at! Non placeat praesentium dolores neque
    dignissimos, exercitationem quae provident quia magni rerum ad debitis ipsum omnis ab temporibus soluta reiciendis
    maxime. Iste temporibus quibusdam ullam porro debitis ratione facere ea delectus quae, aspernatur voluptas nisi
    voluptatem eveniet quam voluptate, adipisci perspiciatis aut perferendis provident vero veritatis inventore beatae
    architecto. Eos tempore iure aliquid maxime atque autem eaque dolor enim mollitia, eum veniam blanditiis. Nulla
    molestiae commodi ipsa deleniti incidunt at vero consequatur provident fugit distinctio numquam dolore qui
    recusandae expedita sequi voluptates ratione, earum maiores iste cupiditate sapiente nesciunt ad! Id nihil dolores
    ipsum maxime corrupti doloribus officiis autem, sequi dicta corporis illum, animi dolorem ducimus at minus magni
    optio!
  </p>
</div>
<!--end of main content declaration -->